.footer {
   
    
    margin-top: 40px;
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    /* right: 0; */
    /* z-index: 1000; */
    
    width: 100vw; 
    margin-left: calc(-50vw + 50%);
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;

  }
  
  .social-icons {
    margin: 20px 0;
    
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #ec5809;
  }
  